div {
    text-decoration: none;
    font-family: verdana, arial, sans-serif;
  }

div strong a {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: #003399;
  text-decoration: underline;
 }

 div p {
  color: #000000;
  font-size: 15px;
  line-height: 1.2;
  margin: 3px 0;
 }

 div.ad-728x90 {
    width: 728px;
    height: 90px;
  }

 div span a {
  color: #008000;
  font-size: 15px;
  line-height: 1.2;
  overflow: hidden;
  text-decoration: underline;
 }

 div .button {
  background: #26D;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#26D),to(#16E));
  border-color: #34A;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  height: 36px;
  width: 118px;
  display: block;
  margin: 30px auto;
 }

 .ad-728x90 .button {
    float: right;
    margin: 10px 10px 0 30px;
  }

 div .button img {
  height: 90%;
  margin-left: 45px;
 }

